body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7f0;
    color: #333;
}


.product-detail-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    gap: 40px;
    background-color: #fefefe;
}

.product-image img {
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.product-info {
    max-width: 500px;
}

.product-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.product-info .description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
}

.product-info .price {
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
}

.btn-ajouter {
    background-color: #8b4513;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
